{% extends 'App/Frontend/Templates/layout.twig'%}


{% block content %}
		<div class="alert alert-danger alert-dismissible fade show container col-10 col-lg-5 text-left" role="alert">
	        <p>Vous devez être connecter en tant qu'administrateur pour pouvoir modifier le site</p>
	        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	            <span aria-hidden="true">&times;</span>
	        </button>
	    </div>

{% endblock %}